@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff6ed; /* if you still use "background" in config */
  --foreground: #4E2249; /* if you still use "foreground" in config */

  --brand-beige:  #FFF6ED;
  --brand-plum:   #4E2249;
  --brand-red:    #B51E27;
  --brand-orange: #FF7C2D;
  --brand-gray:   #6F6F6F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


